@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.my-container {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

:root {
    --fs-s: 12px;
    --fs-xs: 14px;
    --fs-sm: 16px;
    --fs-md: 20px;
    --fs-lg: 23.83px;
    --fs-xl: 24px;
    --fs-2xl: 40px;
    --fs-3xl: 61.17px;
    /* ====== font-clr======= */
    --fc-black: #000000;
    --fc-white: #ffffff;
    --fc-lightcream: #FFF0E9;
    --fc-lightgrey: #4D4D4D;
    --fc-offwhite: #B2B2B2;
    --fc-grey: #404040;
    --fc-orange: #F14F09;
}

/* ===================== color ======================== */
.color-black {
    color: var(--fc-black);
}

.color-white {
    color: var(--fc-white);
}

.color-lightgrey {
    color: var(--fc-lightgrey);
}

.color-offwhite {
    color: var(--fc-offwhite);
}

/* ===================== font-size======================== */
.text-12 {
    font-size: var(--fs-s);
}

.text-14 {
    font-size: var(--fs-xs);
}

.text-16 {
    font-size: var(--fs-sm);
}

.text-20 {
    font-size: var(--fs-md);
}

.text-23 {
    font-size: var(--fs-lg);
}

.text-24 {
    font-size: var(--fs-xl);
}

.text-40 {
    font-size: var(--fs-2xl);
}

.text-61 {
    font-size: var(--fs-3xl);
}

/* ================================ line height =========================== */
.lh-18 {
    line-height: 18.77px;
}

.lh-27 {
    line-height: 27px;
}

.lh-71 {
    line-height: 71.6px;
}

.lh-46 {
    line-height: 46.92px;
}

.lh-26 {
    line-height: 26.93px;
}

.lh-36 {
    line-height: 36.96px;
}

.lh-24 {
    line-height: 24.64px;
}

.lh-23 {
    line-height: 23.46px;
}

.lh-30 {
    line-height: 30.76px;
}

.lh-21 {
    line-height: 21.53px;
}

.lh-16 {
    line-height: 16px;
}

/* ========================= font-weight==================== */
.fw-400 {
    font-weight: 400 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-800 {
    font-weight: 800 !important;
}

/* ======================== font- family============================== */
.ff-worksans {
    font-family: 'Work Sans', sans-serif;
}

/* ================================= header ====================================== */
.bg-img {
    background-image: url(../images/png/hero-bg-img-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1006px;
}

/* .layer-pstn{
    position: absolute;
    top: 0;
} */

.gap-30 {
    gap: 30px;
}

.gap-29 {
    gap: 29px;
}

.pt-40 {
    padding-top: 40px !important;
}

.max-w-750 {
    max-width: 750px;
}

.btn-style {
    border: transparent;
    padding: 13px 38px;
    background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
    border-radius: 30.5px;
    transform: all 200ms linear;
}

.zoom {
    transition: 0.2s linear;
}

.zoom:hover.btn-style {
    background: linear-gradient(96.64deg, #F14F09 10.58%, #FD9B2B 100%);
    scale: 1.1;
    /* transform: all 200ms linear; */
}

.max-w-147 {
    max-width: 147px;
}

.pt-lg-128 {
    padding-top: 128px;
}

.pb-lg-59 {
    padding-bottom: 59px;
}

.svg-pstn {
    position: absolute;
    top: 75%;
    left: 8%;
}

.underline::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
    left: 0;
    bottom: -4px;
    transition: all 200ms linear;
}

.underline:hover::after {
    width: 100%;
}

.nav_link:hover {
    color: var(--fc-orange);
}

svg:hover path {
    fill: var(--fc-orange);
}

/* ===================================== maitre-d-section =================================================== */


.gradient-text {
    background: -webkit-linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.line {
    height: 1px;
    background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
    width: 44px;
}


.pt-30 {
    padding-top: 30px;
}

.max-w-443 {
    max-width: 443px;
}

/* ====================================== why choose ================================================ */
.union-bg-img {
    background-image: url(../images/png/union-bg-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.top-layer{
    position: absolute;
    top: 0;
    z-index: -1;
}
.bottom-layer{
    position: absolute;
    bottom: -88px;
}

.pt-50 {
    padding-top: 50px;
}

.card-ellipse-1 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.card-ellipse-2 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.max-w-250 {
    max-width: 250px;
}


.svg-box {
    width: 87px;
    min-height: 87px;
    border-radius: 50%;
    background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
}

.max-w-257 {
    max-width: 257px;
}

.max-w-215 {
    max-width: 215px;
}

.max-w-218 {
    max-width: 218px;
}

.pt-lg-30 {
    padding-top: 30px;
}

.choose-card {
    min-width: 293px;
    width: 100%;
    padding: 40px 18px;
    box-shadow: 0px 4px 66px 0px #0000000A;
    border-radius: 8px;
    transition: all 300ms linear;
    height: 100%;
    max-height: 293px;
    cursor: pointer;

}


.choose-card:hover {
    /* color: var(--fc-white); */
    background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
    transform: translateY(-43px);
}

.choose-card:hover .clr-white {
    color: var(--fc-white);
}

.choose-card:hover .svg-box {
    background: var(--fc-white);

}

.choose-card:hover svg path {
    fill: url(#gradient1);
}

.pb-43 {
    padding-bottom: 43px;
}



.sign-btn {
    padding: 12px 37px;
    background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
    border: transparent;
    border-radius: 30.5px;
}

.max-w-212 {
    max-width: 212px;
}

.mb-40 {
    margin-bottom: 40px;
}

.zoom:hover.sign-btn {
    background: linear-gradient(96.64deg, #F14F09 10.58%, #FD9B2B 100%);
    scale: 1.1;
    /* transform: all 200ms linear; */
}

.blue-svg {
    position: absolute;
    top: 65%;
    left: 6%;
}

.buy-btn {
    background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
    padding: 8px 25px;
    border-radius: 30.5px;
    border: transparent;
}

.zoom:hover.btn-hover {
    background: linear-gradient(96.64deg, #F14F09 10.58%, #FD9B2B 100%);
    scale: 1.1;
    /* transform: all 200ms linear; */
}

/* ================================  slider =================================================== */

.slider-box {
    max-width: 1016px;
    box-shadow: 0px 4px 66px 0px #0000000A;
    border-radius: 8px;
    /* min-height: 489px; */
    padding: 10px;
}

.pt-34 {
    padding-top: 34px;
}

.mb-lg-38 {
    margin-bottom: 38px;
}

.max-w-162 {
    max-width: 162px;
}

.pr-36 {
    padding-right: 36px;
}

.prev-arrow {
    position: absolute;
    top: 50%;
    left: -20px;
}

.next-arrow {
    position: absolute;
    top: 50%;
    right: -20px;
}

.max-w-368 {
    max-width: 368px;
}

.cursor-pointer {
    cursor: pointer;
}

/* ============================== contact-us============================================ */
.pt-lg-180 {
    padding-top: 180px;
}

.border_bottom {
    border-bottom: 1px solid var(--fc-black) !important;
}

.border-none {
    border: none;
}

.max-w-269 {
    max-width: 269px;
}

.outline_none {
    outline: none;
}

.resizer_none {
    resize: none;
}

.contact-svg {
    position: absolute;
    top: 32%;
    left: 26%;
}

.pb-30 {
    padding-bottom: 30px;
}
.pb-40 {
    padding-bottom: 40px;
}

.scroll::-webkit-scrollbar {
    display: none;
}

/* ================================ simple pricing for everyone ===================================== */
.px-sm-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.outer-box {
    /* max-width: 540px; */
    height: 81.6px;
    background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
    border: transparent;
    border-radius: 10px 10px 0px 0px;
}

/* .d-block{
    display: block !important;
} */
/* .d-none{
    display: none !important;
} */
.d_none {
    display: none !important;
}

.gap-lg-244 {
    gap: 244px;
}

.mb-lg-29 {
    margin-bottom: 29px;
}

.mt-lg-35 {
    margin-top: 35px;
}

.white-box {
    box-shadow: 0px 6px 12px 0px #0000000F;
    padding: 35px 42px;
    border-radius: 0 0 10px 10px;
    /* max-width: 540px; */
}

.turnBtn {
    width: 77.16px;
    height: 34.72px;
    border-radius: 19.29px;
    background: var(--fc-white);
    padding: 3.86px;
    cursor: pointer;
    transition: all 300ms linear;
    box-shadow: -0.7715772390365601px 0.38578861951828003px 2.3147315979003906px 0px #00000040;

}

.round {
    width: 27px;
    border-radius: 50%;
    height: 27px;
    background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);

}

.platinum-box {
    /* max-width: 570px; */
    height: 171px;
    background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
    border-radius: 10px;
    padding: 41px 25px 40px 21px;

}

.platinum-box:hover {
    background: linear-gradient(96.64deg, #F14F09 10.58%, #FD9B2B 100%);
    transition: all 200ms linear;
}

.pt-50 {
    padding-top: 50px;
}

.pb-10 {
    padding-bottom: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.pb-50 {
    padding-bottom: 50px;
}

.max-w-162 {
    max-width: 162px;
}

.mt-lg-35 {
    margin-top: 35px;
}

/* =========================== footer =========================================== */
.footer-bg-img {
    background-image: url(../images/png/union-footer-img.png);
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
}

.gap-25 {
    gap: 25px;
}

.pb-lg-33 {
    padding-bottom: 33px;
}

.border_top {
    border-top: 1px solid var(--fc-grey);
}

.pb-lg-33 {
    padding-bottom: 33px;
}

.pt-lg-82 {
    padding-top: 82px;
}

.pt-20 {
    padding-top: 20px;
}

.bottom_line::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
    left: 0;
    bottom: -4px;
    transition: all 200ms linear;
}

.bottom_line:hover::after {
    width: 100%;
}

.topBtn {
    width: 45px;
    height: 45px;
    background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
    border-radius: 50%;
    /* display: none; */
    position: fixed;
    bottom: 20px;
    right: 8%;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    /* transition: all 300ms linear; */
    z-index: 3;
    /* animation: move 1.3s infinite linear; */
    /* box-shadow: 0px 3px 15px 3px var(--fc-white); */
}

.topBtn.show {
    opacity: 1;
    visibility: visible;
}

.pulse {
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px #FD9B2B;
    }

    100% {
        box-shadow: 0px 3px 15px 3px #FD9B2B;
    }
}

@media (max-width:576px) {

    .lh-71 {
        line-height: 50px;
    }
    .lh-46 {
        line-height: 30px;
    }

    .gap-md-30 {
        gap: 30px;

    }
    :root {
        --fs-2xl: 25px;
        --fs-md: 16px;
        --fs-3xl: 45px;
    }
}

@media (max-width:768px) {
    .choose-card:hover {
        background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
        scale: 0.9;
    }
}

@media (max-width:992px) {
    .overFlowHidden {
        overflow: hidden;
    }

    ul.menulist.show {
        right: 0;
    }

    .menuIcon {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 5;
        transition: all 300ms linear;
    }

    .menuIcon>span {
        width: 100%;
        height: 4px;
        background: var(--fc-black);
        position: relative;
        z-index: 2;
        transition: all 300ms linear;
    }

    .menulist {
        flex-direction: column;
        background-color: var(--fc-lightcream);
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        right: -100%;
        align-items: center;
        justify-content: center;
        z-index: 4;
        transition: all 300ms linear;
    }

    .cross span:nth-child(1) {
        transform: rotate(54deg) translateY(25px);
        transition: all 300ms linear;
        position: relative;
        top: -7px;
    }

    .cross span:nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
        transition: 300ms;
    }

    .cross span:nth-child(3) {
        transform: rotate(-50deg) translateY(-28px);
        transition: all 300ms linear;
        position: relative;
        top: 0;
    }

    .justify_center {
        justify-content: center;
    }

    .align_center {
        text-align: center;
    }

    .text_center {
        text-align: center;
    }

    .mx_auto {
        margin-left: auto;
        margin-right: auto;
    }

    .justify_content_center {
        justify-content: center;
    }
}

@media (min-width:576px) {
    /* .text-40 {
        font-size: var(--fs-2xl);
    } */

    .px-md-45 {
        padding-left: 45px;
        padding-right: 45px;
    }

    .gap-sm-51 {
        gap: 51px;
    }

    .gap-45 {
        gap: 45px;
    }
}

@media (min-width:768px) {

    .pl-md-36 {
        padding-right: 36px !important;
    }

    .buy-btn {
        background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
        padding: 12px 37px;
        border-radius: 30.5px;
        border: transparent;
    }

   
}

@media (min-width:992px) {
    .gap-lg-46 {
        gap: 46px;
    }

    .pt-lg-90 {
        padding-top: 90px;
    }

    .pt-lg-109 {
        padding-top: 109px;
    }

    .pt-lg-14 {
        padding-top: 14px;
    }

    .pt-lg-217 {
        padding-top: 217px;
    }

    .pb-lg-110 {
        padding-bottom: 110px;
    }

    .max-w-484 {
        max-width: 484px;
    }



    .max-w-618 {
        max-width: 618px;
    }

    .max-w-540 {
        max-width: 540px;
    }

    .max-w-570 {
        max-width: 570px;
    }

    .pb-lg-50 {
        padding-bottom: 50px;
    }

    .mt-lg-60 {
        margin-top: 60px;
    }

    .pt-lg-368 {
        padding-top: 368px;
    }

    .max-w-375 {
        max-width: 375px;
    }

    .mb-lg-189 {
        margin-bottom: 189px;
    }

    .pb-lg-147 {
        padding-bottom: 157px;
    }

    .gap-lg-77 {
        gap: 60px !important;
    }

    .pb-lg-43 {
        padding-bottom: 43px;
    }
    .choose-card:hover {
        /* color: var(--fc-white); */
        background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
        transform: translateY(-43px);
    }


}

@media (min-width:1440px) {

    .prev-arrow {
        position: absolute;
        top: 50%;
        left: -105px;
    }

    .next-arrow {
        position: absolute;
        top: 50%;
        right: -105px;
    }
}